---
import ProjectCard from './ProjectCard.astro';

import todoImg from '../assets/todo.png';
import dictImg from '../assets/dictionary.png';
import singupImg from '../assets/signup.png';

const todoDesc =
  'A simple and clean todo app built with React and Vite. It uses local storage to store the todos. It has features like adding, deleting, and marking todos as completed. The UI is built with tailwindcss.';
const dictDesc = `A dictionary app built with React. It uses the Dictionary API to fetch the meaning of the word. It displaying the meaning of the word and its synonym. The UI is built with tailwindcss.`;
const signupDesc =
  'A simple signup form built with pure HTML and CSS. It has features like form validation, error handling, and displaying the form data. It redirects to a success page after successful submission.';

const row = 'row';
const rowReverse = 'row-reverse';

const todoColor = '#7FBFB3';
const dictColor = '#FC819E';
const signupColor = '#F9D4B7';
---

<h1 class="text-h1 font-bold text-center max-w-[1440px] mx-auto my-10">
  Recent Projects
</h1>

<ProjectCard
  title="Todo App"
  description={todoDesc}
  tools={['React', 'Vite', 'React hooks', 'TailwindCSS', 'Netlify']}
  img={todoImg}
  flexDirection={row}
  bgColor={todoColor}
/>

<ProjectCard
  title="Dictionary App"
  description={dictDesc}
  tools={['React', 'Vite', 'Dictionary API', 'TailwindCSS', 'Netlify']}
  img={dictImg}
  flexDirection={rowReverse}
  bgColor={dictColor}
/>

<ProjectCard
  title="Signup Page"
  description={signupDesc}
  tools={['HTML', 'CSS', 'Form Validation', 'Netlify']}
  img={singupImg}
  flexDirection={row}
  bgColor={signupColor}
/>
