---
import Button from './Button.astro';

import { Image } from 'astro:assets';

import todoImg from '../assets/todo.png';
import dictImg from '../assets/dictionary.png';
import singupImg from '../assets/signup.png';

const todoDesc =
  'A simple and clean todo app built with React and Vite. It uses local storage to store the todos. It has features like adding, deleting, and marking todos as completed. The UI is built with tailwindcss.';
const dictDesc = `A dictionary app built with React. It uses the Dictionary API to fetch the meaning of the word. It displaying the meaning of the word and its synonym. The UI is built with tailwindcss.`;
const signupDesc =
  'A simple signup form built with pure HTML and CSS. It has features like form validation, error handling, and displaying the form data. It redirects to a success page after successful submission.';

const todoTools = ['React', 'Vite', 'React hooks', 'TailwindCSS', 'Netlify'];
const dictTools = ['React', 'Vite', 'Dictionary API', 'TailwindCSS', 'Netlify'];
const signupTools = ['HTML', 'CSS', 'Form Validation', 'Netlify'];
---

<h1 class="text-h1 font-bold text-center max-w-[1440px] mx-auto my-10">
  Recent Projects
</h1>
<!-- 
<ProjectCard
  title="Todo App"
  description={todoDesc}
  tools={['React', 'Vite', 'React hooks', 'TailwindCSS', 'Netlify']}
  img={todoImg}
  flexDirection="row"
  bgColor="#7FBFB3"
/>

<ProjectCard
  title="Dictionary App"
  description={dictDesc}
  tools={['React', 'Vite', 'Dictionary API', 'TailwindCSS', 'Netlify']}
  img={dictImg}
  flexDirection="row-reverse"
  bgColor="#FC819E"
/>

<ProjectCard
  title="Signup Form"
  description={signupDesc}
  tools={['HTML', 'CSS', 'Form Validation', 'Netlify']}
  img={singupImg}
  flexDirection="row-reverse"
  bgColor="#FC819E"
/> -->

<div class="bg-[#7FBFB3]">
  <div
    class="max-w-[1440px] mx-auto lg:px-[80px] px-[15px] flex-row md:flex gap-4 lg:gap-16 md:py-14 py-4"
  >
    <div>
      <Image src={todoImg} alt={'Todo App Image'} />
    </div>
    <div>
      <h2 class="text-[25px] font-bold my-1 mt-5 md:mt-0">Todo App</h2>
      <p>{todoDesc}</p>
      <h3 class="text-[18px] font-bold my-1">Development Tools:</h3>
      <ul>
        {todoTools.map((tool: string) => <li>▪️ {tool}</li>)}
      </ul>
      <Button>View Project</Button>
    </div>
  </div>
</div>

<div class="bg-[#FC819E]">
  <div
    class="max-w-[1440px] mx-auto lg:px-[80px] px-[15px] flex-row-reverse md:flex gap-4 lg:gap-16 md:py-14 py-4"
  >
    <div>
      <Image src={dictImg} alt={'Dictionary App Image'} />
    </div>
    <div>
      <h2 class="text-[25px] font-bold my-1 mt-5 md:mt-0">Todo App</h2>
      <p>{dictDesc}</p>
      <h3 class="text-[18px] font-bold my-1">Development Tools:</h3>
      <ul>
        {dictTools.map((tool: string) => <li>▪️ {tool}</li>)}
      </ul>
      <Button>View Project</Button>
    </div>
  </div>
</div>

<div class="bg-[#F59C46]">
  <div
    class="max-w-[1440px] mx-auto lg:px-[80px] px-[15px] flex-row md:flex gap-4 lg:gap-16 md:py-14 py-4"
  >
    <div>
      <Image src={singupImg} alt={'Dictionary App Image'} />
    </div>
    <div>
      <h2 class="text-[25px] font-bold my-1 mt-5 md:mt-0">Todo App</h2>
      <p>{signupDesc}</p>
      <h3 class="text-[18px] font-bold my-1">Development Tools:</h3>
      <ul>
        {signupTools.map((tool: string) => <li>▪️ {tool}</li>)}
      </ul>
      <Button>View Project</Button>
    </div>
  </div>
</div>

<style>
  img {
    box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.548);
  }
</style>
