---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const imgPath = '../assets/Logo.png';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />

    <meta property="og:image" content="https://iili.io/JQ9t49a.png" />
    <meta property="og:title" content="Sarim Hasan - Web Developer" />
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="Sarim" />
    <meta property="profile:last_name" content="Hasan" />
    <meta property="og:url" content="https://sarimhasan.netlify.app/" />
    <meta property="og:description" content={description} />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sarim_hsan" />
    <meta name="twitter:title" content="Sarim Hasan - Web Developer" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://iili.io/JQ9t49a.png" />

    <link rel="icon" type="image/svg+xml" href={imgPath} />
    <link rel="canonical" href="https://sarimhasan.netlify.app/" />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

  body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #fbf3d5;
  }
</style>
